[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
flake8-import-order = "*"

[packages]
selenium = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python index.py"
getdriver = "python getdriver.py"
lint = "flake8 --show-source ."
format = "black --diff ."

[pipenv]
allow_prereleases = true
